#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.containerNav{
  background-color: rgb(171, 168, 168);
  height: 50px;
  width: 100%;
}
.Grid-txt{
  display: flex;
  justify-content: center;
}
.inpuTarea{
  height: 20px;
  width: 200px;
  border: none;
  border-right: white solid 1px;
  border-bottom: white solid 1px;
  border-radius: 5px;
  background-color: transparent;
}
.inpuTarea:focus{
  outline: none;
}